services:
    app:
        build:
            context: .
            dockerfile: docker/dev/Dockerfile
        image: blog-mahad:dev
        container_name: blog-mahad
        volumes:
            - .:/app
        # Auto install, migrate, then start Octane in watch mode
        command: sh -c "composer install && php artisan migrate --force && php artisan octane:start --server=frankenphp --host=0.0.0.0 --port=80 --admin-port=2019 --watch"
        ports:
            - '8081:80'
        restart: unless-stopped
        env_file:
            - .env
        environment:
            SERVER_NAME: ":80"
            SERVER_ROOT: "/app/public"
            DB_HOST: mariadb
            DB_PORT: 3306
        depends_on:
            - mariadb
            - redis

    reverb:
        image: blog-mahad:dev
        container_name: blog-mahad-reverb
        # Start Reverb server
        command: php artisan reverb:start --host=0.0.0.0 --port=8080 --debug
        ports:
            - '8080:8080'
        volumes:
            - .:/app
        env_file:
            - .env
        depends_on:
            - redis
            - app

    vite:
        image: blog-mahad:dev
        container_name: blog-mahad-vite
        command: sh -c "npm install && npm run dev"
        ports:
            - '5173:5173'
        volumes:
            - .:/app
        env_file:
            - .env
        depends_on:
            - app

    scheduler:
        image: blog-mahad:dev
        container_name: blog-mahad-scheduler
        command: php artisan schedule:work
        volumes:
            - .:/app
        env_file:
            - .env
        depends_on:
            - mariadb
            - redis
            - app

    mariadb:
        image: mariadb:11
        container_name: mariadb
        volumes:
            - db_data:/var/lib/mysql
        command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --skip-name-resolve
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=mahad_db
            - MYSQL_USER=user
            - MYSQL_PASSWORD=password
        restart: unless-stopped

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        environment:
            - PMA_HOST=mariadb
            - PMA_PORT=3306
            - PMA_USER=root
            - PMA_PASSWORD=root
        ports:
            - '8082:80'
        restart: unless-stopped
        depends_on:
            - mariadb

    redis:
        image: redis:alpine
        container_name: redis
        ports:
            - '6379:6379'
        restart: unless-stopped

volumes:
    db_data:
